*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form_inicio {
    height: 70vh;
    display: grid;
    place-items: center;
} 
body {
    background-color: #dfe9f5;
}
.wrapper {
    display: grid;
    place-items: center;
    padding: 2rem 1rem;
    margin: 50px;
    background-color: #ffff;
    border-radius: 6px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.wrapper img {
    width: 80%;
    margin-left: 2rem;
}
h1{
    font-size: 1.2rem;
    color: black;
    margin-bottom: 1.2rem;
}
form input{
    width: 92%;
    outline: none;
    border: 1px solid #ffff;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    background: #e4e4e4;
}
button{
    font-size: 1rem;
    margin-top: 1.8rem;
    padding: 10px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 90%;
    color: #ffff;
    cursor: pointer;
    background: rgba(192, 178, 21, 0.979);
}
button:hover{
    background: rgba(192, 178, 21, 0.979);
}
input:focus{
    border: 1px solid rgba(192, 178, 21, 0.979);
}
.terms{
    margin-top: 0.2rem;
}
.terms input {
    height: 1em;
    width: 1em;
    margin-right: 0.5rem;
    vertical-align: middle;
    cursor: pointer;
}
.terms label{
    font-size: 0.7rem;
}
.terms a {
    color: rgba(192, 178, 21, 0.979);
    text-decoration: none;
}
.member{
    font-size: 0.8rem;
    margin-top: 1.4rem;
    color: #636363;
}
.member a{
    color: rgba(192, 178, 21, 0.979);
    text-decoration: none;
}
.recover{
    text-align: right;
    font-size: 0.7rem;
    margin: 0.3rem 1.4rem 0 0;
}
.recover a{
    text-decoration: none;
    color: #464647;
}
.recover{
    text-align: right;
    font-size: 0.7rem;
    margin: 0.3rem 1.4rem 0 0;
}
.recover a{
    text-decoration: none;
    color: #464647;
}