.navbarbalance{
    background-color: rgb(255, 237, 184);
    padding: 0vh 5vw;
}
.arrow:hover{
    color: rgb(162, 130, 31);
    cursor: pointer;
}

.humanlogo:hover{
    color: rgb(162, 130, 31);
}
.centerbalance{
    background-color: rgb(255, 237, 184);
}
.textnavbar{
    font-family: 'Montserrat';
    font-size: 13px;
    color: black;
    font-weight: 400;
    text-decoration: none;
}
.line{
    margin: 5vh 10vw;
}
.money{
    font-family: 'Montserrat';
    font-weight: 300;
}
.bodybalance{
    display: flex;
    align-items: center;
    padding: 0vh 12vw;
    background-color: rgb(244, 244, 244);
    border-radius: 6px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.textnavbar1{
    font-family: 'Montserrat';
    font-size: 13px;
    margin-top: 2vh;
    color: black;
    font-weight: 400;
    text-decoration: none;
}
.icons{
    color: black;
}
.icons:hover{
    color: rgb(162, 130, 31);
}
.movements{
    padding: 2vh 8vw;
    margin: 1vh 1vw;
    background-color: rgb(244, 244, 244);
    border-radius: 6px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.movements1{
    padding: 2vh 8vw;
    background-color: rgb(244, 244, 244);
    border-radius: 6px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.textnavbar1{
    font-family: 'Montserrat';
    font-size: 18px;
    color: black;
    font-weight: 400;
    text-decoration: none;
}
.textinfo{
    display: flex;
    align-items: center;
    height: 10vh;
    font-family: 'Montserrat';
    font-weight: 500;
    margin-bottom: 0px;
}
.things{
    padding: 2vh 0vw;
    border-bottom: 0.5px solid gray;
}
.inputMath{
    border-radius: 5px;
    height: 40px;
    width: 15vw;
    border: none;
    margin-right: 15px;
  }
.Explora{
    height: 35px;
    margin-left: 10px;
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Montserrat';
    color: rgb(162, 130, 31);
    border-color: rgb(162, 130, 31);
  }

.Explora:hover{
    color: gray;
    border-color: gray;
  }  
.divsito{
    width: 100%;
  }
.frame-box{
    padding: 2vh 4vw;
    background-color: rgba(244, 244, 244, 0.874);
    border-radius: 6px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    height: 400px;
    overflow-y: scroll
}
.inputMath1{
    border-radius: 5px;
    height: 40px;
    width: 100%;
    border: none;
    margin-right: 15px;
  }
 .inputMath1:hover{
    border-style: none;
 } 

  .arrowup:hover{
    fill: gray
  }

  /*----------------------------------------*/

  .Tú{
    font-family: 'Montserrat';
    color: black;
    font-weight: 500;
}

.Asistente {    
    font-family: 'Montserrat';
    color: rgb(162, 130, 31);
    font-weight: 500;
}

/*-------------------------------------------*/

/* Cambiar el ancho de la barra */
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Cambiar el color de fondo de la barra */
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  
  /* Cambiar el color del indicador de desplazamiento */
  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
  }

  /*-------------------------------------------*/

  .custom-alert {
    display: block;
    position: fixed;
    top: 100px; /* Ajusta este valor según tus preferencias */
    right: 0%;
    /* transform: translate(-50%, -50%); */
    background-color: rgb(255, 237, 184);
    color: black;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  }
  
  .custom-alert button {
    background-color: rgb(162, 130, 31);
    color: black;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
 
  /*----------------------------------------------------*/
  /*-------------------------------------------*/

  .custom-alert1 {
    display: block;
    position: fixed;
    top: 100px; /* Ajusta este valor según tus preferencias */
    right: 0%;
    /* transform: translate(-50%, -50%); */
    background-color: rgb(255, 237, 184);
    color: black;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  }
  
  .custom-alert button {
    background-color: rgb(162, 130, 31);
    color: black;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
 
  /*----------------------------------------------------*/

.accordion{
    font-family: 'Montserrat';
    background-color: rgb(244, 244, 244);
}

.accordion:focus,
.accordion:active,
.accordion1:focus,
.accordion1:active {
  outline: none;
  box-shadow: none;
}

.logo{
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 14px;
    color: white;
    text-decoration: none;
}
.logo:hover{
    color: gray;
    text-decoration: underline;
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='black' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E");
    transition: all 0.5s;
  }
.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='black' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E");
  }

/*-------------------------*/

.footer2{
    background-color: rgb(82, 82, 82);
    padding: 2vh 10% 1vh 10%;
}

/*---------------------------*/

.button1{
  margin-top: 10px;
  border-radius: 4px;
  font-weight: 400;
  font-size: 18px;
  font-family: 'Montserrat';
}
.button1:hover{
  color: rgb(162, 130, 31);
  border-color: rgb(162, 130, 31);
}

/*----------------------------*/

.inputMath3{
  border-radius: 5px;
  height: 40px;
  width: 95%;
  border: none;
  margin-top: 15px;
  margin-right: 20px;
}
.select:hover{
  border-style: none;
}