.navbar1{
    background-color:  rgb(252, 252, 252);
    color:  rgb(252, 252, 252);

}
.navbarcolor{
    color: rgb(252, 252, 252);
}
.navbarcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px 10px 20px;
}
.button-navbar1{
    border:none;
}
.human{
    border: none;
}
.human:hover{
    color: rgb(162, 130, 31);
    border: none;
}
.humanlogo{
    padding: 12px 24px;
}
.containernavbar2{
    background-color:  rgb(252, 252, 252);
    color:  rgb(252, 252, 252);
    height: 11vh;
    padding: 10px 20px 10px 20px;
}
.colornavbar{
    background-color: rgb(252, 252, 252);
    color:  rgb(252, 252, 252);
}
.textmiddle{
    font-family: 'Montserrat';
    font-size: 16px;
    color: black;
    font-weight: 400;
    text-decoration: none;
    margin: 0px 15px 0px 15px;
}
.textmiddle:hover{
    color: rgb(162, 130, 31);
    cursor: pointer;
}
.icons{
    color: black;
    margin: 0px 20px 0px 20px;
}
.icons:hover{
    color: rgb(162, 130, 31);
    cursor: pointer;
}
.button-navbar1{
    background-color: rgb(252, 252, 252);
}
.button-navbar1:hover{
    color: rgb(162, 130, 31);
}


/*-----------*/

.insidebox{
    height: max-content;
}

.textnavbar{
    margin-top: 50px;
    font-family: 'Montserrat';
    font-size: 16px;
    color: black;
    font-weight: 400;
    text-decoration: none;
}
.textnavbar:hover{
    color: rgb(162, 130, 31);
    cursor: pointer;
}
.logosmrks{
    margin-top: 52vh;
}

.iconsMine{
    color: rgb(162, 130, 31);
}
.iconsMine:hover{
    color: gray;
    text-decoration: underline;
}


 