
<div class="container">
    <div class="card p-5 mt-5">
      <div class="row justify-content-center mb-4">
        <h1>Formulario de informacion personal</h1>
      </div>
      <form
        class="row g-3 needs-validation"
        [formGroup]="personalInfoForm"
        (ngSubmit)="onSubmit()"
      >
        <div class="col-4">
          <label for="name">Nombre</label>
          <input
            type="text"
            id="name"
            class="form-control"
            formControlName="name"
          />
          <div class="valid-feedback">esta bien</div>
        </div>
        <div class="col-4">
          <label class="lastName"> Apellido </label>
          <input
            type="text"
            id="lastName"
            class="form-control"
            formControlName="lastname"
          />
          <div class="valid-feedback">esta bien</div>
        </div>
        <div class="col-4">
          <label for="email">Correo Electronico</label>
          <input
            type="text"
            id="email"
            class="form-control"
            formControlName="email"
          />
          <div class="valid-feedback">esta bien</div>
        </div>
        <div class="col-4">
          <label for="department">Departamento</label>
          <input
            type="text"
            id="department"
            class="form-control"
            formControlName="lastname"
            formControlName="department"
          />
          <div class="valid-feedback">esta bien</div>
        </div>
        <div class="col-4">
          <label for="city">Ciudad</label>
          <input
            type="text"
            id="city"
            class="form-control"
            formControlName="lastname"
            formControlName="city"
          />
          <div class="valid-feedback">esta bien</div>
        </div>
        <div class="col-4">
          <label for="phone"> Numero de telefono</label>
          <input
            type="number"
            id="phone"
            class="form-control"
            formControlName="phone"
          />
          <div class="valid-feedback">esta bien</div>
        </div>
        <div class="row">
          {{ personalInfoForm.value | json }}
        </div>
        <div class="row justify-content-end mt-3">
          <div class="col-2">
            <button class="btn btn-warning" >Guardar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  