<div class="d-flex justify-content-between align-items-center shape">

    <div class="d-flex justify-content-baseline" style="width: 70px;">
        <p class="text" style="font-family: Montserrat;"> {{place}}</p>
    </div>

    <div class="d-flex justify-content-center" >
        <div>
            <p class="text" style="font-family: Montserrat;"> {{date}}</p>
        </div>
    </div>

    <div class="d-flex justify-content-end" style="width: 70px;">
        <p class="text" style="font-family: Montserrat;"> {{amount}}</p>
    </div>

</div>
