<app-nav-bar></app-nav-bar>

<div class="position-absolute" style="width: 100%">
  <img
    src="https://static.vecteezy.com/system/resources/previews/008/536/076/large_2x/senior-father-hugging-adult-hipster-son-have-a-happy-feeling-together-elderly-caucasian-person-man-or-grandfather-smiling-with-love-in-concept-of-family-at-home-nature-outdoor-garden-banner-space-free-photo.jpg"
    class="imgMale img-fluid"
    alt=""
    style="width: 100%"
  />
</div>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-5 offset-md-5">
      <!-- Utilizamos col-md-8 y offset-md-2 para que ocupe 8 columnas y tenga un margen izquierdo en dispositivos medianos y superiores -->
      <div class="card p-4 transparent-card">
        <div class="card-body">
          <div class="row justify-content-between">
            <div class="col-md-6 mb-3">
              <!-- Utilizamos col-md-6 para que ocupe 6 columnas en dispositivos medianos y superiores -->
              <div class="card border-info p-3 border-card-1">
                <div class="row justify-content-center">
                  <div class="col-12">
                    <h2 class="text-center">14.70% E.A</h2>
                  </div>
                </div>
                <div class="row justify-content-center">
                  <div class="col-12">
                    <p class="text-center">180 días</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <!-- Utilizamos col-md-6 para que ocupe 6 columnas en dispositivos medianos y superiores -->
              <div class="card border-info p-3 border-card-2">
                <div class="row justify-content-center">
                  <div class="col-12">
                    <h2 class="text-center">14.60% E.A</h2>
                  </div>
                </div>
                <div class="row justify-content-center">
                  <div class="col-12">
                    <p class="text-center">360 días</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12">
              <ul>
                <li>Apertura 100% digital</li>
                <li>Recibe tus intereses cada tres meses o al vencimiento</li>
                <li>Desde $100.000</li>
              </ul>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <!-- Utilizamos col-md-6 para que ocupe 6 columnas en dispositivos medianos y superiores -->
              <div class="ml-md-5">
                <!-- Utilizamos ml-md-5 para agregar margen izquierdo en dispositivos medianos y superiores -->
                <button
                  type="button"
                  class="btn btn-light rounded-pill p-3"
                  (click)="onNavigate()"
                >
                  Quiero el CDT
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- cdt.component.html -->
<div class="d-none d-lg-block notonlybank mt-5 text-center">
  <div class="d-flex justify-content-around">
    <div class="m-2">
      <div class="card shadow" style="max-width: 18rem">
        <img
          src="https://img.freepik.com/foto-gratis/gente-negocios-modernos-sonriendo_23-2147704580.jpg?size=626&ext=jpg&ga=GA1.1.1880011253.1699315200&semt=ais"
          class="card-img-top img-fluid"
          alt="datos"
        />
        <div class="card-body">
          <p class="card-text" style="font-size: 20px; font-weight: 200">
            ¿Cuál es el proceso para abrir un CDT en Damasu?
          </p>
          <p class="card-text" style="font-size: 16px; font-weight: 400">
            Abrir un CDT en Damasu es generalmente un proceso sencillo y puede
            realizarse en la aplicación o dejándonos tus datos para poder
            comunicarnos contigo. Además, una vez establecido, los clientes
            pueden monitorear y gestionar fácilmente su inversión.
          </p>
        </div>
      </div>
    </div>

    <div class="m-2">
      <div class="card shadow" style="max-width: 18rem">
        <img
          src="https://cloudfront-eu-central-1.images.arcpublishing.com/prisaradiolos40/753FGE7ULZNEPIEOIWSYKFQ4HM.jpg"
          class="card-img-top img-fluid"
          alt="abrir CDT"
        />
        <div class="card-body">
          <p class="card-text" style="font-size: 20px; font-weight: 200">
            ¿Cuántos titulares puede tener un CDT?
          </p>
          <p class="card-text" style="font-size: 16px; font-weight: 400">
            En Damasu nos encanta que inviertas solo o con quien más lo quieras
            hacer. Por lo tanto, el CDT Damasu puede tener uno o máximo dos
            titulares, permitiéndote elegir la opción que mejor se adapte a tus
            necesidades y preferencias.
          </p>
        </div>
      </div>
    </div>

    <div class="m-2">
      <div class="card shadow" style="max-width: 18rem">
        <img
          src="https://solucionesbpo.com/wp-content/uploads/2021/08/young-woman-with-microphone-working-on-record-studio-scaled-e1632251040963.jpeg"
          alt="asesoramiento"
        />
        <div class="card-body">
          <p class="card-text" style="font-size: 20px; font-weight: 200">
            ¿Damasu ofrece asesoramiento personalizado?
          </p>
          <p class="card-text" style="font-size: 16px; font-weight: 400">
            Nos destacamos por ofrecer un servicio y asesoramiento financiero
            adaptado a las necesidades individuales de nuestros clientes.
            Creemos que cada persona tiene metas financieras únicas.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
