<app-nav-bar></app-nav-bar>
<!-- Esto es un comentario de una línea 
<div class=" imggroceries"></div>


<div class="d-flex d-none d-sm-block justify-content-end align-items-center attemp">
    <div class="p-5">
        <p style="font-size: 18px;" class="estilo"> Cuenta de Ahorros</p>
        <p style="font-size: 26px;" class="estilo1"> Crece tu capital hasta un 9.87% por año con nuestra cuenta de ahorros </p>
        
    </div>
</div>
-->
<div><button class="btn btn-primary " (click)="traerUsers()"> Hey</button></div>

@for(i of usuarios; track i.name){
    <p>{{i.name}}</p>
}

