<app-nav-bar></app-nav-bar>

<div class="imggroceries"></div>
<div class="container">
<div class="d-none d-md-flex ">
    <div class="p-5 attemp">
         <p style="font-size: 18px;" class="estilo"> Cuenta de Ahorros</p>
        <p style="font-size: 26px;" class="estilo1"> Crece tu capital hasta un 9.87% por año con nuestra cuenta de ahorros </p>
        <button class="Explora p-1"> Abrir cuenta</button>
    </div>
</div>
</div>
<div class=" d-block d-lg-none  d-flex justify-content-center" >

    <div style="padding: 0vh 10vw;">
        <div class="mt-5 pt-2">

            <div class="d-flex justify-content-center">

                <div class="d-flex justify-content-center fontinfo1">9.87</div>

                <div style="font-size: 14px;">%</div>


            </div>



            <div class="d-flex justify-content-center">

                <div class="Explora p-1"> Tasa muy competitiva </div>

            </div>



            <div>

                <div class="d-flex justify-content-center" style="font-family: 'Montserrat';font-size: 13px;"> 
                    Rendimiento Anual Competitivo — gana más cuando ahorras más. 
                </div>

            </div>
        </div>

        <div class="mt-5 pt-2">

            <div class="d-flex justify-content-center">

                <div class="fontinfo1">Sin tarifas</div>


            </div>



            <div class="d-flex justify-content-center">

                <div class="Explora p-1"> Sin preocupaciones</div>

            </div>



            <div>

                <div style="font-family: 'Montserrat';font-size: 13px;"> 
                    
                    Sin tarifas mensuales ni de mantenimiento; lo que ganas es lo que conservas.
                </div>

            </div>

        </div>

         <div class="mt-5 pt-2 mb-5 pb-2">

            <div class="d-flex justify-content-center">

    
                <div style="font-size: 14px;">$</div>

                <div class="fontinfo1">0</div>


            </div>



            <div class="d-flex justify-content-center">

                <div class="Explora p-1"> Sin mínimo </div>

            </div>



            <div>

                <div class="d-flex justify-content-center"  style="font-family: 'Montserrat';font-size: 13px;"> 
                    Rendimiento Anual Competitivo — gana más cuando ahorras más. 
                </div>

            </div>

        </div>
    </div>  

</div>

<div class=" d-none d-lg-block  d-flex justify-content-center" >

    <div class="d-flex justify-content-center aling-items-center">
        <div class="mt-5 p-5 col-4">

            <div class="d-flex justify-content-center">

                <div class="fontinfo1">9.87</div>

                <div style="font-size: 14px;">%</div>


            </div>



            <div class="d-flex justify-content-center">

                <div class="Explora p-1"> Tasa muy competitiva </div>

            </div>



            <div>

                <div class="pt-2" style="font-family: 'Montserrat';font-size: 13px;"> 
                        Sin tarifas mensuales ni de mantenimiento; lo que ganas es lo que conservas.
                </div>

            </div>
        </div>

        <div class="mt-5 p-5 col-4" >

            <div class="d-flex justify-content-center">

                <div class="fontinfo1">Sin tarifas</div>


            </div>



            <div class="d-flex justify-content-center">

                <div class="Explora p-1"> Sin preocupaciones</div>

            </div>



            <div>

                <div class="pt-2" style="font-family: 'Montserrat';font-size: 13px;"> 
                        No hay un monto mínimo para abrir y mantener tu cuenta de ahorros en línea con alto rendimiento.
                </div>

            </div>

        </div>

         <div class="mt-5 p-5 mb-5  col-4">

            <div class="d-flex justify-content-center">

    
                <div style="font-size: 14px;">$</div>

                <div class="fontinfo1">0</div>


            </div>



            <div class="d-flex justify-content-center">

                <div class="Explora p-1"> Sin mínimo </div>

            </div>



            <div>

                <div class="pt-2" style="font-family: 'Montserrat';font-size: 13px;"> 
                    Rendimiento Anual Competitivo — gana más cuando ahorras más. 
                </div>

            </div>

        </div>
    </div>  

</div>
<div class="evenmoreinfo "> 

    <div class="d-flex justify-content-center "> 
        <p class="textinfo"> Damasubank: Tu Éxito, Nuestra Misión</p>
    </div>

    <div class="d-block d-lg-none">

        <div style="padding: 0vh 10vw;">
    
        <div class=" d-flex justify-content-baseline " style="padding: 96px 0px 48px 0px;">
        
            <div >
             <img src="../../../../assets/stop-watch.png" style="width: 80px;">
            </div>

            <div class="d-flex ms-5">
                <div >
                    <p style="font-family: 'Montserrat';font-size:18px ; font-weight: 500;"> Ábrela en 5 minutos</p>
                    <p style="font-family: 'Montserrat';font-size:14px ;">Puedes abrir una cuenta de ahorros con tasas atractivas en unos 5 minutos. Comienza hoy mismo con Damasubank</p>
                </div>
            </div>

        </div>

        <div class=" d-flex justify-content-baseline" style="padding: 48px 0px 48px 0px;">
        
            <div >
             <img src="../../../../assets/mobile-phone.png" style="width: 80px;">
            </div>

            <div class="d-flex ms-5">
                <div >
                    <p style="font-family: 'Montserrat';font-size:18px ; font-weight: 500;">  Gestión de cuenta sencilla y conveniente</p>
                    <p style="font-family: 'Montserrat';font-size:14px ;">Accede fácilmente a tus finanzas en línea, en cualquier momento y lugar</p>
                </div>
            </div>

        </div>

        <div class=" d-flex justify-content-baseline " style="padding: 48px 0px 0px 0px;">
        
            <div >
             <img src="../../../../assets/secure-shield.png" style="width: 80px;">
            </div>

            <div class="d-flex ms-5">
                <div >
                    <p style="font-family: 'Montserrat';font-size:18px ; font-weight: 500;">  Seguridad  y cuidado con tus datos personales </p>
                    <p style="font-family: 'Montserrat';font-size:14px ;">Gestiona tu cuenta fácilmente en nuestro sitio web, con la tranquilidad de estar protegido en todo momento.</p>
                </div>
            </div>

        </div>



        
        
         </div>

    </div>

    <div class="d-none d-lg-flex" style="padding: 10vh 14vw 0vh 14vw;">

        <div class="col-4 me-4">
            <div> <img src="../../../../assets/stop-watch.png" style="width: 60px;"> </div>
            <div class="mt-3"> <p style="font-family: 'Montserrat';font-size:18px ; font-weight: 500;"> Ábrela en 5 minutos</p> </div>
            <div> <p style="font-family: 'Montserrat';font-size:14px ;">Puedes abrir una cuenta de ahorros con tasas atractivas en unos 5 minutos. Comienza hoy mismo con Damasubank</p> </div>
        </div>

        <div class="col-4 me-4">
            <div> <img src="../../../../assets/mobile-phone.png" style="width: 60px;"> </div>
            <div class="mt-3"> <p style="font-family: 'Montserrat';font-size:18px ; font-weight: 500;">  Gestión de cuenta sencilla y conveniente</p> </div>
            <div> <p style="font-family: 'Montserrat';font-size:14px ;">Accede fácilmente a tus finanzas en línea, en cualquier momento y lugar</p> </div>
        </div>

        <div class="col-4">
            <div> <img src="../../../../assets/secure-shield.png" style="width: 60px;"> </div>
            <div class="mt-3"> <p style="font-family: 'Montserrat';font-size:18px ; font-weight: 500;"> Seguridad  y cuidado con tus datos personales</p> </div>
            <div> <p style="font-family: 'Montserrat';font-size:14px ;">Gestiona tu cuenta fácilmente en nuestro sitio web, con la tranquilidad de estar protegido en todo momento.</p> </div>
        </div>

    </div>


</div>

<div class="imggroceries1"></div>









